.books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.book {
    border-radius: 25px;
    background-color: rgb(249, 238, 207);
    border: 2px solid rgb(101, 100, 97);
    padding: .7rem;
    margin: .5rem;
}

.ticket_finish {
    margin-left: auto;
}

.ticket_delete {
    margin-left: auto;
    background-color: lightcoral;
}

.ticket_footer {
    display: flex;
    padding: 1rem 0 0 0;
    border-top: 1px dashed darkmagenta;
    margin: 1rem 0 0 0;
}

.book_header {
    font-size: large;
    padding: 0 0 1rem 0;
}

.form-group {
    
    text-shadow:
        -1px -1px 0px #f8f7f7,
         0px -1px 0px #f8f3f3,
         1px -1px 0px #f9f5f5,
        -1px  0px 0px #fdfbfb,
         1px  0px 0px #f9f6f6,
        -1px  1px 0px #fbfbfb,
         0px  1px 0px #f9f7f7,
         1px  1px 0px #fcfafa;
}

.btn-primary {
    margin: 5px 5px 60px 5px

}