.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logout {
    margin-left: auto;
}

.navbar__link {
    color: black;
    text-shadow:
        -1px -1px 0px #f8f7f7,
         0px -1px 0px #f8f3f3,
         1px -1px 0px #f9f5f5,
        -1px  0px 0px #fdfbfb,
         1px  0px 0px #f9f6f6,
        -1px  1px 0px #fbfbfb,
         0px  1px 0px #f9f7f7,
         1px  1px 0px #fcfafa;
}
